#SERVER
APP_PORT=8080
APP_ENV=development
# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=bar108_user
DB_PASSWORD=bar108_pass
DB_NAME=bar108_db
DB_SSLMODE=disable
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRY_HOURS=24